/* styles/styles.css */
.container {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px; */
     @apply flex flex-col md:flex-row mt-8;  
  }
  
  .left,
  .right {
    
    @apply flex-1 items-center justify-center p-8;
  }
  .left {
    @apply w-full md:w-1/2 h-auto ;
  }
  .right {
    @apply md:w-1/2 p-8 justify-center items-center pt-16 text-wrap;
  }
  .mx {
    @apply mx-auto rounded-full;
  }
  .header1 {
    @apply font-bold text-blue-950 text-6xl px-4 pb-4 ;
  }
  .spanner {
    @apply text-rose-900 text-6xl p-2 ;
  }
  .paragraph {
    @apply justify-normal m-4 text-black  w-1/3 md:w-2/3 lg:text-lg sm:text-xs;
  }
  .bg-Image {
    @apply py-4 my-8 rounded-md;
  }
  /* .right {
    
    @apply text-center mt-4 ;
  } */
  /* styles/homePageStyles.css */
.course-div {
  @apply w-[80%] pt-8 pb-8 mx-auto;
}
.course-heading {
  @apply text-3xl md:text-4xl text-gray-900 font-bold;
  /* @apply text-center text-4xl font-bold text-blue-600 mt-8 mb-4; */
}
.course-list {
  /* @apply grid grid-rows-1 md:grid-rows-3 gap-8 mx-auto max-w-2xl; */
  @apply md:mt-16 mt-10 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10;
}

.course-item {
  /* @apply bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 mx-auto w-11/12 ; */
  @apply bg-white rounded-lg overflow-hidden cursor-pointer;
}
.image {
  @apply w-full h-full;
} 
.price_div {
  @apply p-4;
}
.coursePrice {
  @apply ml-auto relative z-[10] h-20 w-20 flex items-center text-lg font-bold justify-center flex-col
          mt-[-4rem] rounded-full bg-rose-700 text-white;
}

.course-description {
  /* @apply text-lg text-gray-600 mb-2; */
  @apply text-base text-gray-600;
}
.course-title {
  /* @apply text-2xl font-semibold text-gray-800 mb-4; */
  @apply text-lg text-black text-opacity-70 font-bold;
}
.course-info {
  @apply flex items-center mt-6 space-x-4;
}
.courseName {
  @apply text-xl text-black font-bold mt-2;
}
.div-div-star {
  @apply flex mt-2 items-center space-x-2
}
.div-star {
  @apply flex items-center;
}
.star {
  @apply w-4 h-4 text-yellow-600;
}

.course-button {
  @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300;
}

.partner-heading {
  @apply pt-20 pb-16 bg-indigo-600 m-4 rounded;
  /* @apply text-center text-2xl font-bold text-blue-500 mt-4 mb-4; */
}
.partner-section {
  @apply w-[80%] mx-auto grid grid-cols-1 xl:grid-cols-3 items-center gap-20;
}

.partner-slider {
  @apply xl:col-span-1 mt-6;
  /* @apply relative w-full overflow-hidden ; */
}

.partner-item {
  @apply flex items-center space-x-4;
  /* @apply p-4 bg-white rounded-lg shadow-md text-center max-w-sm mx-auto;*/
} 
.partner-quote {
  @apply w-12 h-12 bg-blue-600 rounded-full flex items-center justify-center flex-col;
}
.quote {
  @apply h-6 w-6 text-white;
}
.partner-text {
  @apply text-xl text-white font-semibold;
}
.partner-slide {
  @apply xl:col-span-2 bg-white rounded-lg overflow-hidden h-auto;
}
.partner-img {
  @apply rounded-lg shadow-lg mx-auto;
}
.partner-name {
  @apply text-lg font-bold mt-4;
}
.partner-description {
  @apply text-sm ;
}
.slider-container {
  /* @apply flex w-full transition-transform duration-500 ease-linear; */
  @apply flex w-full justify-center items-center transition-transform duration-500 ease-linear;
}
.slider-item {
  @apply min-w-full flex-none hidden; /* Flex properties are covered by flex utilities */
}
.slider-item.active {
  @apply block mx-auto; /* Show only the active slide */
}
.custom-button {
  @apply absolute top-1/2 transform -translate-y-1/2 bg-white border-none p-2 cursor-pointer z-10 shadow rounded-full;

}
.custom-button-prev {
  @apply left-2;

}
.custom-button-next {
  @apply right-2;
}
.custom-button:hover {
  @apply bg-gray-200;
}
.testimonial-heading {
  @apply text-center text-2xl font-semibold mt-10;
}
.testimonial-list {
  /* @apply flex justify-center mt-6; */
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-8 w-full max-w-6xl px-4 mt-2 mx-auto;
}
.testimonial-item {
  @apply bg-slate-200 p-6  rounded-lg shadow-md flex flex-col items-center text-center transform hover:scale-110 transition-transform duration-500;
}
.testimonial-img {
  /* @apply w-full h-48 object-cover rounded-t; */
  @apply  w-16 h-16 mb-4 rounded-full;
}
.testimonial-name {
  @apply mt-4 text-gray-900 font-bold;
}
.testimonial-message {
  @apply text-sm text-black ;
}